/* defauly.css */
body {
 background:
  background-color: #00000;
 color: #FFFFFF;
}
h1 {
 color: #fffff;
 text-align: center;
 font-family: 'Lato', sans-serif;
}
p {
 color: #fffff;
 text-align: right;
 border: 3px groove #FFFF33;
}
.button {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fffff;
  text-align: center;
}
