/* default.css */
body {
 color: #FFFFFF;
}
h1 {
 color: #ffcdd2;
 text-align: center;
 font-family: 'Lato', sans-serif;
}
p {
 color: #ffcdd2;
 text-align: right;
 border: 3px groove #FFFF33;
}
.button {
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffcdd2;
  text-align: center;
}
