/* default.css - The default style for most text-based pages */
body {
  background-image: url("../images/background.jpg");
}

html {
  font-size: 140%;
}

h1 {
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  line-height: 0px;
  text-align: left;
}

h2 {
  color: grey;
  font-family: 'Oswald', sans-serif;
  line-height: 25px;
  text-align: left;
}

div {
  text-align: center;
  float: right;
}

h3 {
  color: grey;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0px;
  margin-top: 30px;
  line-height: 0px;
  text-align: left;
}

ul {
  font-family: 'Open Sans', sans-serif;
}

#header {
  color: grey;
  font-family: 'Lato', sans-serif;
  margin-top: 0px;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
  text-align: left;
}

a {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
}

b {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
}

img {
  max-height: 500px;
  max-width: 500px;
}

i {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

#content {
  padding: 10px;
  background-color: #E0E0E0;
  text-align: inherit;
  opacity: 0.89;
  margin: 10px;
  border-radius: 5px;
  margin-left: 140px;
  padding: 0px 10px;
}

table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  padding: 7px;
  padding-left: auto;
}

#gate {
  border: 2px solid black;
  border-collapse: collapse;
  margin-top: 2px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
  padding: 7px;
  padding-left: auto;
  width: 100%;
}

.center {
  text-align: center;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  border-radius: 5px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}